<%- include('templates/header.ejs') %>
<%- include('templates/nav') %>

<main>

    <h2>Edit User</h2>

    <form id="newPost" action="http://localhost:3000/api/v1/users/<%= user._id %>" method="post"
    enctype="multipart/form-data">

    <p>Edit a Users Info</p>
    <h3><%= user._id %></h3>

    <label for="name">Name</label>
    <input type="text" placeholder="<%= user.name %>" name="name">

    <label for="email">Email</label>
    <input type="text" placeholder="<%= user.email %>" name="email">

    <label for="id">id</label>
    <input type="text" placeholder="<%= user.id %>" name="id">

    <label for="date">Date</label>
    <input type="datetime-local" placeholder="<%= user.date %>" name="date">

    <button type="submit" id="editUser" class="btn">Submit</button>

</form>

</main>

<%- include('templates/footer.ejs') %>